header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.099);
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    z-index: 500;
}

.logo{
    width: 150px;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}

header nav ul li a{
    padding: 20px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 17px;
    color: #2e2e2e;
    font-weight: 700;
}

header nav ul li a:hover{
    color: #014ABD;
}