section{
    background-color: #014ABD;
    color: white;
    padding: 30px;
     margin-top: 5em;
}

section article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section h1{
    font-family: "Play";
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 40px;
}

section h4{
    font-family: "Play";
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 20px;
}


section p{
      font-family: "Roboto";
     font-weight: normal;
     margin-bottom: 10px;
     max-width: 500px;
     font-weight: 300;
}

section svg{
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}


section ul li{
    list-style: none;
    color: white;
     margin: 10px 0px;
}

section ul li a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
   
}

.copy{
     font-family: "Roboto";
     font-size: 12px;
     margin-top: 50px;
     text-align: center;
}