<main>
<h2>Nossos Parceiros</h2>
<section>
    <div>
        <a href="https://angolacables.co.ao/" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/aclogo.jpg" alt="parceiro" target="_blank"></a>
    </div>
    <div>
        <a href="https://www.dell.com/en-us" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/Dell_logo_2016.svg.png" alt="parceiro" style="width: 50px;"></a>
    </div>
     <div>
        <a href="https://spaceall.net/" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/logo-180x32-spaceall 1.png" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://dssi.co.ao/" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/logo-cor-e1744624018943.png.webp" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://www.microsoft.com/en-us" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/Microsoft.png" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://www.dm-angola.com/pt" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/noBgColor.png" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://rfelements.com/" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/RFelements-MI-1.jpg" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://www.veeam.com/pt" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/Veeam_logo.png" alt="parceiro"></a>
    </div>

    <div>
        <a href="https://www.watchguard.com/" target="_blank" rel="noopener noreferrer"><img src="../../../../parceiros-imgens/watchguard-endpoint-security-software.jpg" alt="parceiro"></a>
    </div>
</section>
</main>

