<main>
<h2>Nossos Parceiros</h2>
<section class="employer">
    <div>
        <a href="https://angolacables.co.ao/" target="_blank" rel="noopener noreferrer">
        <img src="../../../../parceiros-imgens/aclogo.jpg" alt="parceiro" target="_blank"></a>
        <p>Oferecemos soluções de conectividade inovadoras para os mercados wholesale e corporativo,
        com presença global e foco em rotas submarinas no Atlântico</p>
    </div>
    <div>
        <a href="https://www.dell.com/en-us" target="_blank" rel="noopener noreferrer">
            <img src="../../../../parceiros-imgens/Dell_logo_2016.svg.png" alt="parceiro" style="width: 50px;"></a>
            <p>Hardware para edge pods e servidores certificados - possibilitando uma infraestrutura de microdatacenter local resiliente.</p>
    </div>
     <div>
        <a href="https://spaceall.net/" target="_blank" rel="noopener noreferrer">
        <img src="../../../../parceiros-imgens/logo-180x32-spaceall 1.png" alt="parceiro"></a>
        <p>Conectividade Inteligente e Sem Limites para Negócios Em Angola</p>
    </div>

    <div>
        <a href="https://dssi.co.ao/" target="_blank" rel="noopener noreferrer">
        <img src="../../../../parceiros-imgens/logo-cor-e1744624018943.png.webp" alt="parceiro"></a>
        <p>Somos especialistas em oferecer soluções profissionais de alto nível, desenvolvidas para atender às necessidades específicas da sua empresa.</p>
    </div>

    <div>
        <a href="https://www.microsoft.com/en-us" target="_blank" rel="noopener noreferrer">
            <img src="../../../../parceiros-imgens/Microsoft.png" alt="parceiro"></a>
            <p>Licenciamento e produtividade na cloud: oferecemos serviços semelhantes ao Azure e
        pacotes de licenciamento locais.</p>
    </div>

    <div>
        <a href="https://www.dm-angola.com/pt" target="_blank" rel="noopener noreferrer">
            <img src="../../../../parceiros-imgens/noBgColor.png" alt="parceiro"></a>
            <p>Somos uma equipa de jovens ambiciosos com mais de 20 anos de experiência no setor do petróleo
            e gás e infra-estruturas críticas.</p>
    </div>

    <div>
        <a href="https://rfelements.com/" target="_blank" rel="noopener noreferrer">
            <img src="../../../../parceiros-imgens/RFelements-MI-1.jpg" alt="parceiro"></a>
            <p>As melhores antenas do mercado.</p>
    </div>

    <div>
        <a href="https://www.veeam.com/pt" target="_blank" rel="noopener noreferrer">
        <img src="../../../../parceiros-imgens/Veeam_logo.png" alt="parceiro"></a>
        <p>Backup e recuperação locais integrados no nosso armazenamento de objetos Garage para uma restauração rápida.</p>
    </div>

    <div>
        <a href="https://www.watchguard.com/" target="_blank" rel="noopener noreferrer">
        <img src="../../../../parceiros-imgens/watchguard-endpoint-security-software.jpg" alt="parceiro"></a>
        <p>Segurança de endpoints e redes na edge, integrada em pacotes de segurança geridos para empresas e PME.</p>
    </div>
</section>
</main>