<main>
    <section class="post-wrapper" *ngIf="!loading && post">

  <!-- IMAGEM DO POST -->
  <img
    *ngIf="post.imageUrl"
    class="post-hero"
    [src]="post.imageUrl"
    [alt]="post.title"
  />

  <div class="post-content">
    <h1>{{ post.title }}</h1>
    <div class="post-text">
      {{ post.content }}
    </div>

     <small class="post-date">
      {{ post.createdAt | date:'dd MMMM yyyy' }}
    </small>
  </div>

</section>

<!-- LOADING -->
<p *ngIf="loading">A carregar...</p>

</main>

