<main>
    <h2 class="frist">Admin – Blog</h2>
<form [formGroup]="form" (ngSubmit)="submit()" class="form">

  <input
    type="text"
    placeholder="Título"
    formControlName="title"
  />

  <textarea
    rows="6"
    placeholder="Conteúdo"
    formControlName="content"
  ></textarea>

  <!-- UPLOAD DE IMAGEM -->
  <input
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
  />

  <!-- PREVIEW -->
  <img
    *ngIf="previewUrl"
    [src]="previewUrl"
    class="preview"
  />

  <label>
    <input type="checkbox" formControlName="published" />
    Publicado
  </label>

  <button class="creatPost" type="submit" [disabled]="uploading">
    {{ editingPostId ? 'Atualizar Post' : 'Criar Post' }}
  </button>

  <button
    type="button"
    *ngIf="editingPostId"
    (click)="resetForm()"
  >
    Cancelar
  </button>

</form>

<hr />

<!-- LISTA -->
<h2>Lista dos posts criados</h2>
<div class="posts">
  <div class="post" *ngFor="let post of posts">

    <img *ngIf="post.imageUrl" [src]="post.imageUrl" />

    <h3>{{ post.title }}</h3>
    <small>{{ post.published ? 'Publicado' : 'Rascunho' }}</small>

    <div class="actions">
      <button class="editar" (click)="editPost(post)">✏️ Editar</button>
      <button class="danger" (click)="deletePost(post.id)">🗑️ Remover</button>
    </div>

  </div>

</div>
</main>
