main{
    max-width: 1200px;
    margin: auto;
    font-family: "Play";
}

.frist{
  margin: 8rem 0px 0px 0px;
}

h2{
 
  color: rgb(33, 33, 33);
  font-size: 25px;
}

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1em 0px;
}

input, textarea {
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.posts {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.post {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.post img {
  width: 30%;
  height: 40px;
  object-fit: cover;
  border-radius: 2px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.danger {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 20px;
}

.editar {
  background: #1164e9;
  color: white;
  border: none;
  border-radius: 20px;
}

.preview {
  max-width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

.creatPost{
     background-color: #014ABD;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px 5px;
}


 label{
     font-family: "Roboto";
     font-weight: 800;
     font-size: 12px;
     color: #272727;
}

 input, textarea{
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ddd;
}