main{
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.employer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.employer div{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.086);
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.employer div p{
    font-family: "Roboto";
    font-weight: normal;
    color: #656565;
    margin-bottom: 10px;
}

.employer div img{
    width: 150px;
    margin: auto;
}