.womanBackground{
    background-image: url('../../../public/imagens/woman.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.solution{
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(to top, black, transparent);
    width: 100%;
    padding: 10em 22em;
}

.solution h1{
    color: #ffffffff;
    font-size: 100px;
    padding-bottom: 5px;
    font-family: "Play", sans-serif;
    font-weight: 400;
}

.solution p{
    color: #a3a3a3;
    max-width: 700px;
    font-size: 18px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.solution .solicitar{
    background-color: #014ABD;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 200px;
    padding: 15px 5px;
}

.solution .whatsapp{
   background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    width: 200px;
    padding: 15px 5px; 
    margin-left: 20px;
}