<section>
    <div>
        <div>
          <h4>Contatos</h4>
          <p>+244 999 999 999</p>
          <p>+244 999 999 999</p>
        </div>
        <div>
            <h4>Localização</h4>
            <p>Angola(Luanda - Talatona)</p>
        </div>
        <div>
            <img src="../../../../parceiros-imgens/map.png" alt="">
        </div>
    </div>

    <div>
        <form action="">
            <label for="email">E-mail</label><br>
            <input type="email" name="email" id="email"><br>

            <label for="numero">Número</label><br>
            <input type="text" name="numero" id="numero"><br>
            <label for="mensagem">Mensagem</label><br>
            <textarea name="mensagem" id="mensagem" rows="8"></textarea><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>