<app-header></app-header>
<main>
    <h2>Nossas Soluções</h2>
<p>Casos de uso do setor, nuvem de ponta, IoT, SD-WAN</p>
<section class="horizontal-scroll" #scrollContainer>
    <div>
        <img src="../../../../imagens/computer.png" alt="">
        <h4>TI corporativa/escritório</h4>
        <p>Substitua o MPLS legado por SD-WAN + SRv6 para obter resiliência e
          menor custo total de propriedade (TCO).</p>
          <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/sale.png" alt="">
        <h4>Retalho e comércio de PME</h4>
        <p>O WiFi gerido + cache POS local de ponta suporta checkout 
        offline e recibos mais rápidos.</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/hospital.jpg" alt="">
        <h4>Saúde</h4>
        <p>Computação local avançada com acesso seguro baseado em
        identidade, dispositivos vestíveis IoT</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/educacao.jpg" alt="">
        <h4>Educação</h4>
        <p>Cache de conteúdo local e sincronização offline</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/logistica.jpg" alt="">
        <h4>Logística e frota</h4>
        <p>Telemática conectada à borda, sensores LoRaWAN, telemetria offline para rotas remotas.</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/mineracao.jpg" alt="">
        <h4>Mineração e energia</h4>
        <p>Conectividade privada, loops de controlo locais, IoT industrial com nós de decisão locais</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/governo.jpg" alt="">
        <h4>Governo/municipal</h4>
        <p>Módulos de cidades inteligentes, integração de chamadas de emergência eCall, painéis cívicos hospedados localmente</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/agricultura.jpg" alt="">
        <h4>Agricultura</h4>
        <p>Redes de sensores LoRaWAN, inferência de borda para monitorização de culturas</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/media.jpg" alt="">
        <h4>Mídia/Streaming</h4>
        <p>Edge CDN para armazenamento em cache local, custos de trânsito mais baixos,
        mídia/jogos com conteúdo localizado para criadores de conteúdo</p>
        <button>Solicitar Serviço</button>
    </div>

    <div>
        <img src="../../../../imagens/entretenimento.jpg" alt="">
        <h4>Entretenimento</h4>
        <p>Hotspots móveis para espetáculos, eventos e concertos, em conjunto com a tecnologia Envictus.</p>
        <button>Solicitar Serviço</button>
    </div>
</section>
<app-newslatter></app-newslatter>
</main>

