 main{
    margin: auto;
    max-width: 1200px;
 }
 
 h2{
    font-family: "Play";
    font-weight: 400;
    color: #2C2C2C;
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: 3em;
}

 p{
     font-family: "Roboto";
     font-weight: normal;
     color: #656565;
     margin-bottom: 20px;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section div{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.191);
    width: 500px;
    height: 400px;
    padding: 30px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

section div img{
    object-fit: cover;
    object-position: center center;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

section div h4{
    font-family: "Play";
    font-weight: 500;
    color: #2C2C2C;
    margin-bottom: 20px;
    font-size: 20px;
}

section div p{
     font-family: "Roboto";
     font-weight: normal;
     color: #656565;
     margin-bottom: 20px;
}

section button{
    background-color: #014ABD;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 200px;
    padding: 15px 5px;
    position: relative;
    bottom: 0px;
}

.horizontal-scroll {
    display: flex;
    flex-direction: row;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;

    padding: 20px;
}

/* quando estiver a arrastar */
.horizontal-scroll:active {
    cursor: grabbing;
}

/* esconder scrollbar (opcional) */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    scrollbar-width: none; /* Firefox */
}
